@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #000000;
}
::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main{
    padding: 2em 4em;
    height: 100vh;
    background: url(assets/fonbgr.jpg) center center no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.h_link{
    display: flex;
    align-items: center;
    gap: 100px;
}
.link{
    font-size: 20px;
    color: white;
}


.logo{
    height: 100%;
    padding: 18px 30px;
    border-radius: 10px 0px 0px 10px;
}
.logo_img{
    height: 50px;
}

#bgr{
    background-color: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(5px);
    padding: 10px 50px;
    height: 100%;
}
#bgr_btn{
    background-color: #caac65;
    backdrop-filter: blur(5px);
    transition: .8s all;
}

.social{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    height: 100%;
    gap: 30px;
}

.clik_header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    height: 100%;
    font-size: 15px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 20px black;
    font-weight: 300;
}
#bgr_btn:hover{
    background-color: #ffd26b;
    color: #ffffff;
    cursor: pointer;
}
#bgr_btn:focus{
    background-color: #ffd26b;
    color: #ffffff;
}

.container_bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.losung{
    font-size: 100px;
    font-weight: 600;
    line-height: .9em;
}
.legend{
    font-weight: 500;
    font-family: "Tenor Sans", sans-serif;
}

.satze{
    font-size: 50px;
    font-weight: 200;
}


/* ADVANTAGES */

.advantages{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a_txt{
    font-family: "Tenor Sans", sans-serif;
    font-size: 50px;
    text-align: center;
}
.advant_text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.gold{
    color: #caac65;
}
.description{
    text-align: center;
    font-size: 30px;
}

.img_description{
    height: 40vh;
    background: url(assets/advantages-fon.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
    padding: 1em 7em;
    border-radius: 500px;
}
.d_lcr{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
}
.svg{
    height: 30px;
}



/* why_the_legend */
.why_the_legend{
    height: 100vh;
    display: flex;
    margin: 0 auto;
    width: 1000px;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.heading{
    text-align: center;
    font-family: "Tenor Sans", sans-serif;
    font-size: 80px;
}

.bold{
    font-weight: 700;
    font-size: 30px;
}
.s_lr_txt{
    font-weight: 500;
}

.specifications{
    display: flex;
    justify-content: space-between;
}

.s_left_right{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 100px;
}

.proposal{
    text-align: center;
    color: rgb(209, 209, 209);
    font-weight: 200;
    font-size: 30px;
}

/* LAYOT */
.layout{
    height: auto;
    padding: 0 2em;
}

.menu_choice{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.choice{
    font-family: "Tenor Sans", sans-serif;
    font-size: 80px;
    font-weight: 500;
}

.lists{
    display: flex;
    gap: 100px;
    color: #9A9A9A;
    font-size: 30px;
}
.list_down{
    display: flex;
    align-items: center;
    gap: 10px;
}
.list_down:hover{
    cursor: pointer;
}

.examples{
    padding-top: 4em;
}
.line_1{
    display: flex;
    justify-content: space-between;
}
.laot{
    height: 260px;
}
.view{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.application{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.square{
    font-weight: 600;
}
.price{
    font-weight: 100;
    font-size: 30px;
}
.app_buy{
    height: 70px;
    border: none;
    border-radius: 15px;
    background-color: #caac65;
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 20px black;
    font-weight: 600;
    width: 80%;

    transition: .8s all;
}
.app_buy:hover{
    background-color: #ffd26b;
    color: #ffffff;
    cursor: pointer;
}
.app_buy:focus{
    background-color: #ffd26b;
    color: #ffffff;
}

.line_2{
    padding-top: 6em;
    display: flex;
    justify-content: space-between;
}


/* FOTO_BLOKS */
.foto_bloks{
    padding: 5em 2em 0 2em;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.inner_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.inner_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.foto_1{
    background: url(assets/foto1.jpg) center center no-repeat;
    background-size: cover;
    height: 500px;
    width: 800px;
}
.foto_2{
    background: url(assets/foto2.jpg) center center no-repeat;
    background-size: cover;
    height: 600px;
    width: 950px;
}

.foto_3{
    background: url(assets/foto3.jpg) center center no-repeat;
    background-size: cover;
    height: 590px;
    width: 800px;
}
.foto_4{
    background: url(assets/foto4.jpg) center center no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.foto_1, .foto_2, .foto_3, .foto_4{
    padding: .5em;
    display: flex;
    align-items: end;
    font-size: 30px;
    font-weight: 600;
    line-height: 1em;
    text-shadow: 0 0 50px black;
    transition: .8s all;
}
.foto_1:hover{
    transform: scale(1.02);
}
.foto_2:hover{
    transform: scale(1.02);
}
.foto_3:hover{
    transform: scale(1.02);
}
.foto_4:hover{
    transform: scale(1.02);
}


/* FORMA */
.forma{
    padding: 4em;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f_left{
    width: 60%;
}

.f_left{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.f_main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mf_img{
    display: flex;
    gap: 10px;
}
.sponsors_banks{
    height: 45px;
}
.sponsors_banks:hover{
    cursor: pointer;
}

.mf_txt{
    font-size: 30px;
}




.fr_top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.field_name_phone{
    padding: 1em;
    height: 60px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #929292;
}
.field_name_phone:hover{
    cursor: pointer;
}


.phone{
    display: flex;
    align-items: center;
    gap: 12px;
}
.number_phone{
    font-size: 25px;
    color: #929292;
}
.white{
    color: white;
    font-weight: 200;
}


.country{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.ru{
    height: 25px;
    padding: 0;
    margin: 0;
}
.ru_polygon{
    height: 12px;
    padding: 0;
    margin: 0;
}

.f_right{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}

.to_send{
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #caac65;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 40px black;
    transition: .8s all;
}
.to_send:hover{
    background-color: #ffd26b;
    color: #ffffff;
    cursor: pointer;
}
.to_send:focus{
    background-color: #ffd26b;
    color: #ffffff;
}

.fr_end{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    color: #929292;
    line-height: 1em;
}







/* FOOTER */
footer{
    height: auto;
    padding: 2em;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.f_logo{
    font-family: "Tenor Sans", sans-serif;
    color: #caac65;
    font-size: 50px;
    font-weight: 600;
}

.footer_right{
    display: flex;
    gap: 54px;
}
.link_f{
    color: white;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
}